<div class="todo-item" *ngIf="this.todoItem">
    <li class="list-group-item d-flex justify-content-between lh-condensed" [ngClass]="this.todoItem.completed ? 'bg-completed' :  ''">
        <div>
            <h6 class="my-0">{{todoItem.title}}</h6>
            <small class="text-muted">{{todoItem.description}}</small>
            <div *ngIf="todoItem.dueDate">
                <small>Due date:
                    <b>{{todoItem.dueDate}}</b>
                </small>
            </div>
        </div>

        <div class="align-right btn-group-vertical">
            <app-square-button (clicked)="completeClick()" class="btn" [buttonClass]="'btn-success'" aria-label="Completed">
                Completed
            </app-square-button>
            <app-square-button *ngIf="!readOnlyTODO" (clicked)="editClick()" class="btn" [buttonClass]="'btn-info'" aria-label="Edit">
                Edit
            </app-square-button>
            <app-square-button *ngIf="!readOnlyTODO" (clicked)="deleteClick()" class="btn" [buttonClass]="'btn-danger'" aria-label="Delete">
                Delete
            </app-square-button>
        </div>
    </li>
</div>